@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 0, 0.8), 0 0 10px rgba(255, 215, 0, 0.8),
        0 0 15px rgba(255, 165, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.8);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 0, 1), 0 0 30px rgba(255, 215, 0, 1),
        0 0 40px rgba(255, 165, 0, 1), 0 0 50px rgba(255, 140, 0, 1);
    }
    100% {
      box-shadow: 0 0 5px rgba(255, 255, 0, 0.8), 0 0 10px rgba(255, 215, 0, 0.8),
        0 0 15px rgba(255, 165, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.8);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-glow {
    animation: glow 2s infinite alternate;
  }
  
  .animate-fade-in {
    animation: fade-in 3s ease-in-out forwards;
  }
  